@media (max-width: 768px) {
    .card{
        width: 100% !important;
    }
}

.custom-nav-link {
    position: relative;
    text-decoration: none;
    color: #ffffff;
    transition: color 0.2s ease;
  }
  
  .custom-nav-link:hover {
    color: #0d6efd; /* Bootstrap primary */
  }
  
  .custom-nav-link::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #E2BD06;
    transition: width 0.3s ease;
  }
  
  .custom-nav-link:hover::after {
    width: 100%;
  }
  